body
{
   text-align:center; /* for IE */
   margin:0 auto; /* for the rest */
}

.head
{
   margin-top:100px;
}

table td 
{
   padding:10px;
}

.error 
{
   font-family: Tahoma;
   font-size: 8pt;
   color: red;
   margin-left: 50px;
   display:none;
}

.move
{
   padding-right: 100px;
}
